.body {
    background-image: linear-gradient(312.15deg, #6B7E81 32%, rgba(51, 69, 71, 0.5) 90.98%);
    padding: 54px 35px 0px 77px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: white;
    width: 278px;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    cursor: default;
    user-select: none;
}
