.navbar {
    background-color: #373737;
    display: flex;
    flex-direction: column;
    padding-top: 37px;
    min-width: 50px;
    height: 100%;
    position: fixed;
    z-index: 1;
    cursor: move;
    -webkit-app-region: drag;

    > a {
        -webkit-app-region: no-drag;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 55px;
        border: none !important;
        outline: none !important;
        background-color: transparent;
        padding: none;
        transition-duration: .5s;

        path {
            transition-duration: .5s;
        }

        svg {
            transition-duration: .5s;
        }

        &:hover {
            background-color: #5F5F5F;

            > svg {
                -webkit-filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.2));
                filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.2));

                path {
                    fill: #dadada !important;
                }
            }
        }

        &.active, &.active:hover {
            background-color: #5B6765;

            > svg {
                -webkit-filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.2));
                filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.2));

                path {
                    fill: #67EAD2 !important;
                }
            }


        }

    }
}
