.option {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 18px;
  justify-content: space-between; }

.timeItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #dadada;
  transition-duration: .2s; }
  .timeItem span {
    font-size: 12px;
    font-weight: 500;
    line-height: 35px;
    font-weight: 300; }
  .timeItem > div {
    display: flex;
    align-items: center; }
    .timeItem > div span {
      margin-left: 7px;
      margin-right: 7px;
      width: 20px;
      text-align: center; }
    .timeItem > div > svg {
      cursor: pointer; }
      .timeItem > div > svg path {
        fill: rgba(181, 181, 181, 0.5);
        transition-duration: .2s; }
  .timeItem:nth-of-type(1) {
    color: white; }
    .timeItem:nth-of-type(1) > div path {
      fill: #B5B5B5 !important; }
  .timeItem:hover {
    color: white; }
    .timeItem:hover > div svg path {
      fill: #B5B5B5 !important; }
    .timeItem:hover > div svg:hover path {
      fill: #67EAD2 !important; }

.time-setting {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.3); }
  .time-setting > button {
    width: 100%;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 3px;
    color: #67EAD2;
    background-color: #535353;
    padding: 5px 10px 5px 10px;
    font-size: 11px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center; }
    .time-setting > button svg {
      margin-right: 10px; }

.app-setting {
  padding-top: 25px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 20px; }
  .app-setting > div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer; }
    .app-setting > div > span {
      margin-left: 20px;
      font-size: 12px;
      font-weight: 300;
      color: #efefef; }
    .app-setting > div.checked svg {
      -webkit-filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.15));
      filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.15)); }
