.container {
    position: absolute;
    background-color: rgba(64, 64, 64, 0.8);
    display: flex;
    align-items: center;
    height: 27px;
    width: 274px;
    border-radius: 3px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.3);
    user-select: none;
}
