.siteInput {

    > input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #BFBFBF;
        color: white;
        font-size: 12px;
        padding-bottom: 10px;
        width: 100%;
        font-family: "Montserrat", sans-serif;
        outline: none;
        transition: .2s;

        &:focus {
            border-bottom: 1px solid #dedede;
        }

        &::placeholder {
            font-size: 12px;
            color: #D2D2D2;
        }
    }
}
