.siteInput {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    background-color: #ffffff25;

    border-radius: 3px;
    transition-duration: .5s;

    > input {
        font-family: "Montserrat", sans-serif;
        background-color: transparent;
        border: none;
        outline: none;
        color: #eaeaea;
        font-size: 12px;
        width: 100%;
        transition: .5s;
        border-radius: 5px;
        margin-left: 8px;

        &::placeholder {
            font-size: 12px;
            color: #D2D2D2;
        }
    }

    > button {
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: "Montserrat", sans-serif;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 3px;
        color: #67EAD2;
        background-color: #535353;
        font-size: 11px;
        width: 40px;
        height: 23px;
        box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    }

    &:focus-within {
        background-color: #ffffff17;
        box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.1);
    }
}
