.link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    margin-bottom: 15px;
    cursor: pointer;

    > div {
        display: flex;
        align-items: center;

        > span {
            display: flex;
            align-items: center;
            transition: .5s;
            margin-left: 18px;
            font-size: 12px;
            color: #bbbbbb;

            > img {
                margin-right: 8px;
                width: 15px;
                height: 15px;
            }
        }

        > svg { transition-duration: .4s; }
    }

    > svg {
        > path {
            transition: .5s;
        }
    }

    &.active {
        > div {
            > span { color: #E3E3E3; }

            > svg {
                -webkit-filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.15));
                filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.15));
            }
        }

        > svg {
            > path { fill: #bfbfbf !important; }
        }

    }

    &:hover {
        > div {
            > span { color: #E3E3E3; }

            > svg {
                -webkit-filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.15));
                filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.15));
            }
        }

        > svg {
            > path {
                fill: #bfbfbf !important;
            }

            &:hover {
                > path {
                    fill: #D97D72 !important;
                }
            }
        }
    }
}
